<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.admin.mapper.product.ProductMapper">
    <resultMap id="productMapping" type="com.example.demo.admin.dto.productDTO.ProductDTO$Res">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="productName" column="product_name" />
        <result property="price" column="price"/>
        <result property="productType" column="product_type"/>
        <result property="description" column="description"/>
        <result property="quantity" column="quantity"/>
        <result property="status" column="status"/>
        <result property="color" column="color"/>
        <result property="gender" column="gender"/>
        <result property="creationTime" column="creation_time"/>
        <result property="discountPercent" column="discount_percent"/>
        <result property="discountPrice" column="discount_price"/>
        <result property="thumbnailImage" column="thumbnail_image"/>
        <result property="thumbnailVideo" column="thumbnail_video"/>
        <result property="guideImage" column="guide_image"/>
        <collection property="images" ofType="java.lang.String" javaType="java.util.List">
            <result column="images" jdbcType="VARCHAR" />
        </collection>
        <collection property="sizes" ofType="java.lang.String" javaType="java.util.List">
            <result column="size" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>
    <select id="getProducts" resultMap="productMapping">
        select * from product
        <where>
            <if test="productName !=null and productName != ''">
                AND product_name LIKE CONCAT('%', #{productName}, '%')
            </if>
            <if test="code !=null and code !=''">
                AND code LIKE CONCAT('%', #{code}, '%')
            </if>
        </where>
        ORDER BY id DESC
        <if test="maxResultCount != null and maxResultCount &gt; 0">
            LIMIT #{maxResultCount} OFFSET #{skipCount}
        </if>
    </select>

    <select id="countProducts" resultType="long" parameterType="com.example.demo.admin.dto.productDTO.ProductDTO$Req">
        SELECT COUNT(*)
        FROM product
        <where>
            <if test="productName != null and productName != ''">
                AND product_name LIKE CONCAT('%', #{productName}, '%')
            </if>
            <if test="code != null and code != ''">
                AND code LIKE CONCAT('%', #{code}, '%')
            </if>
        </where>
    </select>
    <select id="getProduct" resultMap="productMapping" >
        select * from product where id = #{id}
    </select>
    <update id="updateProduct">
        update product SET
            images=#{body.images}
            product_name = #{body.productName}
            price = #{body.price}
            size = #{body.sizes}
            product_type = #{body.productType}
            description = #{body.description}
            quantity = #{body.quantity}
            status = #{body.status}
            color = #{body.color}
            gender = #{body.gender}
            discount_percent = #{body.discountPercent}
            discount_price = #{body.discountPrice}
            thumbnail_image = #{body.thumbnailImage}
            thumbnail_video = #{body.thumbnailVideo}
            guide_image = #{body.guideImage}
        where id = #{id}
    </update>
    <delete id="deleteProduct" parameterType="Long">
        DELETE FROM product where id = #{id}
    </delete>
</mapper>